body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color:#FFDEBF ;
    color:#C115FF ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Baloo 2";
    font-size: 40pt;
}

header { 
    text-align: center;
}

#hero , footer {
    border: 4px solid #7599F5;
    text-align: center;
    background-color:#FCEDFE ;
    color:#7599F5 ;
    padding:10px;
}

#hero img {
    width: 300px;
    
}

#bio {
    text-align: center;
}