body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: #BFE1FF;
    color:#C352F0 ;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Baloo 2";
    text-align: center;
}
h1 {
    font-size:40pt;
}

header { 
    text-align: center;
}

#hero , footer {
    border: 4px solid #DBE7AB;
    text-align: center;
    background-color:#F9BBAF ;
    color:#FAF8FC ;
    padding:10px;
}

#hero img {
    width: 300px;
    
}

#bio {
    text-align: center;
}

ul {
    list-style-type: circle ;
    
}

ul li{
    background-color: #FAF8FC;
    margin-bottom:  15px;
    list-style-position: inside;
}
